{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>杉山雄大 | YUDAI SUGIYAMA - ENGINEER</title>

    <link rel="shortcut icon" href="{% static 'assets/img/icon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'assets/img/icon/favicon.ico' %}" type="image/x-icon"/>
    <link rel="icon" href="{% static 'assets/img/icon/favicon.ico' %}" type="image/x-icon"/>

    <meta name="description" content="杉山雄大のポートフォリオサイトです。" />
    <meta name="keywords" content="杉山雄大,ポートフォリオ,エンジニア" />
    
  </head>
  <body>
    <h1 class="center">Hi thre. I'm Yudai Sugiyama</h1>
    <p>Sorry, this site is been creating now. Please, wait a little longer.</p>
  </body>
</html>